.cardImage {}

.cardOverlay {}

.cardImage {
    display: none;
}

.cardOverlay {
    text-align: justify;
}


@media (min-width: 768px) {
    .cardImage {
        display: block;
        height: 42vh;
    }
}

@media (min-width: 992px) {
    .cardImage {
        width: 100%;
        height: 65vh;
        /* margin-left: 20%; */
    }
    .cardOverlay {
        position: absolute;
        width: 30%;
        height: 100%;
        color: white;
        background: rgb(27,24,91);
        background: linear-gradient(90deg, rgba(27,24,91,1) 0%, rgba(16,16,135,0.9780287114845938) 76%, rgba(85,80,186,0) 100%);
    }
}

@media (min-width: 1200px) {
    .cardImage {
        height: 72vh;
        width: 80%;
        margin-left: 20%;
    }
    .cardOverlay {
    }
}
