.cardStyle {
    width: 180px;
    transition: 320ms;
}

.cardStyle:hover {
    transform: scale(1.1);
    margin: 0;
}

.cardOverlay {
    color: transparent;
    padding-top: 140px; 
    transition: 320ms;
}

.cardOverlay:hover {
    color: white;
    padding-top: 180px; 
    font-size: 14px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.927608543417367) 0%, rgba(6,6,60,0.7763480392156863) 35%, rgba(44,44,75,0) 49%, rgba(244,244,244,0) 100%);
}

