.carouselContainer{
    width: 95%;
    margin-left: 2.5%;
}

.customButton {
    position: absolute;
    height: 34vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.144);
    border:0;
    z-index: 10;
}

.customButton:hover {
    background-color: rgba(0, 0, 0, 0.438);
    transform: perspective(200px);
}

.backButton {
    left: 0px;
}

.nextButton{
    right: -30px;
}

@media (min-width: 1600px) {
    .customButton {
        height: 30.5vh;
    }
}

@media (min-width:1599px ) and (max-width: 1650px){
    .carouselContainer {
        height: 36vh;
    }
    .customButton{
        height: 34vh;
    }
}
