.embedded{
    padding: 0 5px;
    width: 100%;
    height: 25%;
}

.movieDetails {}

.reviews {}



@media (min-width: 576px) {
    .embedded{
        padding: 0 6px;
        order: 2;
    }
    
    .movieDetails {
        order: 1;
    }

    .reviews {
        order: 4;
    }
    
}

@media (min-width : 992px) {
    .embedded {
        position: absolute;
        z-index: 20;
        left: 1%;
        top: 52%;
    }
}

@media (min-width: 1200px) {
    .embedded {
        top:38%;
    }
}

@media (min-width: 1400px) {
    .embedded {
        top: 41%
    }
}

@media (min-width: 1600px) {
    .embedded {
        top:36%;
        bottom: 0px;
    }
}

@media (min-width: 1800px) {
    .embedded {
        top: 31%;
    }
}
